.order{
    &__header{
        border-bottom: 1px $gray solid;
        padding-bottom: 10px;
    }
    &__items{
        background: $white;
        margin: 30px;
    }
    &__qnty{
        display: flex;
        button{
            background: $menuToggle;
            border: 0;
            border-radius: 0 50% 50% 0;
            color: $white;
            padding: 1px 15px 2px;
            font-size: 22px;
            &:first-child{
                border-radius: 50% 0 0 50%;
            }
            &:hover,&:focus{
                background: $hoverBtn;
            }
        }
        input{
            width: 60px;
            border: 1px $gray solid;
            margin: 0 5px;
            padding: 5px 2px;
            text-align: center;
        }
    }
}